

.whole-body{
    background-color:antiquewhite;
    color:black;
    border:10px,solid,black;
}


.flex-container{
    display:flex;
    flex-flow: row-wrap;
    justify-content:space-between;
   
  padding: 10px;
    background-color:blue;
    height: 300px;
    color: rgb(223, 25, 25);
    font-size:20px;
}
.high-score-box{
    
    height:250px;
    width:300px;
    color:black;
    background-color:rgb(196, 255, 211);
    border:10px, solid, black;  
}
.timer-box{
    
    
    height:250px;
    width:300px;
    color:black;
    background-color:rgb(196, 255, 211);
    border:10px, solid, black;
}

.content{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
  margin-top: 20px;
  margin-bottom:20px;
  margin-left: 250px;
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 1px;             
    width:50%;
    height:700px;
    background-color:coral;
    color:blueviolet;
}
button{
    background-color: #4CAF50; /* Green */
    border: 5px dotted white;
    border-radius: 15px;;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/*.button:hover{
    color:black;
    padding:10px;
}*/
.footer{
    background-color:darkgrey;
    height:100px;
}
#question-text{
    
    height:100px;
    width:100px;
    color:black;
    background-color:rgb(196, 255, 211);
    border:10px, solid, black;
}
#question-box{
    height:60%;
    width:60%;
    color:black;
    background-color:rgb(196, 255, 211);
    border:10px, solid, black;
}

.hide{
    display:none;
}